{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="p-5 d-flex">
    <div class="p-3">
        <img src="{% static 'survey.png' %}" width="250">
    </div>
    <div class="p-3 d-flex align-items-center">
        <div>
            <h1 class="py-2">Система проведения опросов</h1>
            <p>Веб-сайт для внутренних опросов HR-Tech</p>
            <p class="text-justify">Каждая компания сталкивается с проблемой оценки сотрудников. В арсенале HR-специалистов есть много методов, которые отличаются между собой алгоритмом проведения, временем и бюджетом. Используя эти методы, HR-специалист может определить профессиональный уровень развития сотрудника и его карьерное планирование: как он справляется со своими должностными обязанностями, выявить его проблемные зоны в работе, чтобы исправить.</p>            
        </div>
    </div>
   
</div>
{% endblock %}